/* 회원탈퇴 모달 */
.delete-Modal{
    background-color: white;
    width: 60%;
    height: 20%;
    min-width: 450px;
    min-height: 250px;
    padding: 20px;
    border-radius: 5px;
  }
  .delete-text-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    align-items: center;
    gap: 4px;
  }
  .delete-Modal-try{
    background-color: white;
    width: 60%;
    height: 38%;
    min-width: 450px;
    min-height: 250px;
    padding: 20px;
    border-radius: 5px;
    
  }
  
  .delete-text-box > div > input{
    width: 150px;
    border-radius: 15px;
    background-color: whitesmoke;
    border: none;
    text-align: center;
    outline: none;
  }

.delete-btn{
    display: flex;
    justify-content: right;
}

  .delete-btn > button{
    border-radius: 5px;
    height: 40px;
    width: 80px;
  }
  .deleteUser-Btn{
    color: #dc3545;
    background-color: white;
    border : 1px solid red;
    margin-right: 10px;
}

  .deleteUser-Btn:hover{
    background-color: #dc3545;
    color: white;
    border-color: #dc3545;
    transition: all .10s linear;
  }

  .close-Btn{
    background-color: white;
    border: 1px solid rgb(200, 200, 200);
    color : rgb(80, 77, 77)
  }

  .close-Btn:hover{
    background-color: rgb(80, 77, 77);
    color: white;
    transition: all .10s linear;
  }

