.GoodsDetail-imgedit{
    height: 650px;
    margin: 0% 10%;
    display: flex;
}
.GoodsDetail-title{
    font-weight: bold;
}
.GoodsDetail-radio-flex{
    display: flex;
    width: 100%;
    height: 30px;
    background-color: white;
    margin: auto;
    justify-content: center;
}
.GoodsDetail-radio-color{
    margin: 5px 10px;
    width: 20px;
    height: 20px;
}
.GoodsDetail-size-btn{
    width: 100%;
    height: 30%;
    text-align: center;
}
.GoodsDetail-size-btn-margin{
    margin: 5px 10px ;
}
.GoodsDetail .count-flex{
    float: right;
    display: flex;
    align-items: center;
}
.GoodsDetail .count-btn{
    margin: 0px 10px 0px 10px;
    align-items: center;
    text-align: center;
}
.GoodsDetail-submit-btn{
    width: 90%;
    height: 50px;
    font-size: 25px;
}

.GoodsDetail .hr-style {
    background: white;
    height: 1px;
    border: 0;
}

.GoodsReview-card{
    display: flex;
    justify-content: space-between;
}

.GoodsReview-card{
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    padding : 20px;
    margin: 0 auto;
    width:90%;
}

.GoodsReview-goodsinfoImg{
    display: flex;

}

.GoodsReview-goodsinfo{
    display: flex;
    flex-direction: column;
}

.GoodsReview-img{
    display: flex;
    justify-content: flex-end;

}

.RatingBox{
    margin: 0 auto;

    & svg {
      color: #C4C4C4;
      cursor: pointer;
    }
    :hover svg {
      color: #966fd6
    }
    & svg:hover ~ svg {
      color: #C4C4C4;
    }
    .clo {
      color: #966fd6;
    }
}

/* 이미지 에디터 css 수정용 */
#root > div > div > div:nth-child(2) > div.GoodsDetail > div:nth-child(1) > div > div > div.sc-21g986-0.eYjqr.FIE_topbar > div.sc-21g986-5.bUKiDG.FIE_topbar-buttons-wrapper > div.sc-m9ezm7-0.iFLsae.FIE_topbar-save-wrapper > button{
    display: none;
}