/* Body */
.Web-Container{
  position: relative;
  min-height: 100vh; /* 전체 높이를 화면에 맞춤 */
  padding-bottom: 60px; /* 푸터 높이만큼 여백을 줌 */
}

/* Header */
/* 모든 Navbar 브랜드 및 링크에 대한 일반 스타일 */
.Header-Container {
  width: 100%; /* 헤더의 너비를 화면 전체로 설정 */
}

.justify-content-between{
  width: 100%;
}

.navbar {
  min-height: 50px; /* 네비게이션 바의 최소 높이 설정 */
}

.navbar-brand,
.nav-link {
  margin-right: 1rem; /* 오른쪽에 여백을 추가 */
}

/* 오른쪽에 위치할 버튼 및 이미지에 대한 스타일 */
.navbar .navbar-nav .nav-link {
  display: flex;
  align-items: center; /* 버튼과 이미지를 수직 중앙 정렬 */
}

/* 버튼에 대한 스타일 */
.navbar .navbar-nav .btn {
  margin-right: 0.5rem; /* 버튼 사이의 여백을 추가 */
}

/* 장바구니 아이콘 이미지에 대한 스타일 */
.basket{
  width: 30px; /* 아이콘의 너비 */
  height: 30px; /* 아이콘의 높이 */
  margin-left: 0.5rem; /* 이미지와 다른 요소 사이의 여백을 추가 */
}



  /* Footer */
  .Web-Container > footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* 푸터 높이 설정 */
}
@media (max-width: 768px) {
  .MDBFooter {
      height: auto; /* 모바일 화면에서는 푸터 높이를 자동으로 조절 */
  }
}