.Card-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-keyword-box{
    display: flex;
    justify-content: space-between;
    border : 1px solid rgb(200, 200, 200);
    border-radius: 30px;
    width: 100%;
}
.search_Keyword{
    width: 80%;  
    border: none; 
}
.search_Keyword:focus{
    outline: none;
}

#button-addon2{
   border: none;
}
.search-Card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Card-div:hover{
box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.5) 0px 30px 60px -30px;
   cursor: pointer;
}

/* 좋아요 배치 css */
.like-btn{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;
  }

  /* 닉네임, 날짜 */
  .Card-date-title{
    display: flex;
    flex-direction: column;
    text-align: right;
}