.result-body{
    display: flex;

  }
  
 .result-containor ul{
      list-style: none;
  }
  
  .result-containor   li{
      float: left;
  }
  
  .result-containor {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top:10%;
      /* margin-left:10%; */
      gap : 15%;
      width:100%
      
    }
  
  .four-images .image-list {
      display: grid;
      grid-template-columns: repeat(2, 1fr); /* 2열 그리드 */
      gap: 10px;
  }
  
  .four-images .image-list li {
      display: grid;
      justify-items: center;
      align-items: center;
  }
  
  .five-images .image-list {
      display: flex;
      flex-wrap : wrap;
      align-content : space-around;
      justify-content : center;
      gap: 10px;
      width:60%;
  }

  .five-images .input-area {
    margin-left: 6%
}
  
  .five-images .image-list li:nth-child(1) { grid-area: img1; }
  .five-images .image-list li:nth-child(2) { grid-area: img2; }
  .five-images .image-list li:nth-child(3) { grid-area: img3; }
  .five-images .image-list li:nth-child(4) { grid-area: img4; }
  .five-images .image-list li:nth-child(5) { grid-area: img5; }
  
  .imageresult .card{
      height: fit-content;
      padding:15%;
      width:30vh;
      margin : 25px;
  }
  
  .imageresult .card:hover{
      box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }
  
  
  .keywrod-area{
      border: 1px solid #C0C0C0;
      border-radius: 5px;
      width: 50vh;
      /* height: 10vh; */
      margin: auto;
      padding:5px;
      margin-bottom: 35%;
  }
  
  .except-area {
      border: 1px solid #C0C0C0;
      border-radius: 5px;
      width: 50vh;
      /* height: 10vh; */
      margin: 2% auto;
      padding:5px
  }
  
  
  
  #keywordbox{

      border-radius: 10px;
      /* width: 20%; */
      /* text-align : center; */
  }
  
  #excptbox{
      border-radius: 10px;
      /* width: 20%; */
      /* text-align : center; */
  }
  
  