/* 모달 바깥쪽 요소 */
.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  /* 모달 구성 (Container)*/
  .S-ImgInfo {
    background-color: white;
    min-width: 50%;
    height: 80%;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
  }

  /* 모달 Img css */
  .S-ImgPic{
    display: flex;
    justify-content: center;
    height: 60%;
  }

  /* 유저 프롬프트부분 css */
  .user-Prompt{
    display: flex;
    flex-direction: column;
  }
  
  /* 모달 버튼 CSS */
  .Modal-Btn{
    margin-top: auto;
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
  }

  /* 굿즈선택다운로드, 닫기 버튼 */
  .SM-btn{
    border-radius: 5px;
    height: 40px;
    width: 150px;
    background-color: white;
    border: 1px solid rgb(200, 200, 200);
    color : rgb(80, 77, 77)
  }

  .SM-btn:hover{
    background-color: rgb(80, 77, 77);
    color: white;
    transition: all .10s linear;
  }

  /* 이미지 편집, 굿즈 버튼 */
  .Modal-Btn > a > button {
    border-radius: 5px;
    height: 40px;
    width: 150px;
    background-color: white;
    border: 1px solid rgb(200, 200, 200);
    color : rgb(80, 77, 77)
  }
  .Modal-Btn > a > button:hover{
    background-color: rgb(80, 77, 77);
    color: white;
    transition: all .10s linear;
  } 

  /* .SMD-btn{
    color: #dc3545;
    background-color: white;
    border : 1px solid red;
  }
  .SMD-btn:hover{
    background-color: #dc3545;
    color: white;
    border-color: #dc3545;
  } */
  
  .SM-text{
    display: none;
  }

  /* App 이미지 상세 모달 */
  
  
  @media(max-width:768px){
    /* 모달 구성 (Container)*/

  .SM-text{
    display: block;
  }
  .S-ImgInfo {
    background-color: white;
    min-width: 300px;
    width: 500px;
    height: 60%;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
  }


  /* 모달 Img css */
  .S-ImgPic{
    display: flex;
    justify-content: center;
    height: 60%;
    width: 80%;
    min-width: 80%;
  }

  /* 유저 프롬프트부분 css */
  .user-Prompt{
    display: flex;
    flex-direction: column;
    width: 80%;
  }
  .user-Prompt > h5{
   font-weight: bold;
  }
 

  .Modal-Btn{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
 .SM-text{
    width: 50%;
    font-size: 13px;
  }

 
  }

  