.Main-Container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-image: url("../../public/images/"); */
    /* background-size: cover; */
    /* background-position: center;
    background-repeat: no-repeat; */
    gap: 30px;
}
/* h1, 메인버튼, 메인 이미지 */
.Main-text-img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    /* 메인화면 배경 */
    background-color: whitesmoke;
    min-height: 685px;
}
/* h1, 메인 버튼 위치 */
.Main-head-btn{
    min-width: 450px;
    width: 38%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding-right: 8%;
    gap: 30px;
}
/* main text font 추가 */

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
.Main-head{
    display: flex;
    flex-direction: column;
   
}

.text-up-box > span{
    font-size: 38px;
    color: #453f3f;
}
.text-up-box > .text-up{
    font-weight: 700;
}

 .Main-head > .text-up{
    font-family:  'Pretendard-Regular';
   
    font-size: 38px;
    color: #453f3f;
 }


.Main-Image{
    display: flex;
    width: 40%;
    height: 90%;
    min-width: 700px;
    min-height: 630px;
    align-items: center;
    justify-content: space-between;
    /* position: relative; */
}
.Main-Image > img{
    width: 100%;
    height: 95%;
    border-radius: 100%;
    border : solid 4px rgb(200, 200, 200);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.5) 0px 30px 60px -30px;
    object-fit: cover;

}
.Images-Container {
    display: flex;
    transition: transform 0.5s ease-in-out; /* 부드러운 전환 효과 */
  }
.mainLeft{
    margin-right: 2%;
}

/* 메인 버튼 */
.Main-Btn{
    width: 330px;
    height: 50px;
    border-radius: 40px;
   border:1px solid lightgray;
    color: white;
    background-color: #FF7E00;
    font-weight: bold;
}
.Main-Btn:hover{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    border: none;
}
.Main-Btn:active{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.Main-Slide-position{
    display: flex;
    justify-content: space-between;
    /* position: absolute; */
    width: 98%;
}

.Main-Slide-btn{
    background: none;
    border: none;
    width: 30px;
    height: 30px;
}

.Slide-box{
    max-width: 1500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.goods-text-btn{
    flex: flex;
    align-items: center;
}
.image-Slide-btn{
    flex: flex;
    align-items: center;
}

.Slide-box{
    gap: 30px;
}

.Slide-box > .goods-Slide{
    width: 81%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.Slide-box > .image-Slide{
    width: 81%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 5%;
    border-bottom: 3px solid rgb(200, 200, 200);
}
.image-Slide-btn > .Main-Slide-text{
    font-size: 30px;
    font-weight: bold;
}
.goods-text-btn > .Main-Slide-text{
    font-size: 30px;
    font-weight: bold;
}

.goods-Slide > div{
    display: flex;
    justify-content: space-between;
}
.image-Slide > div{
    display: flex;
    justify-content: space-between;
}

/* 더보기 버튼 */
.moreShow{
    margin-bottom: 5px;
    height: 40px;
}
.same-BTN{
    border-radius: 5px;
    border:1px solid lightgray;
    color:#453f3f;
    background-color: white;
}



.same-BTN:hover{
    background-color: #FF7E00;
    color:white;
    transition: all .10s linear;
    border: none;
}


.allCard{
   width: 100%;
}

.allCard > img{
    width: 95%;
    margin-left: 3%;
    border-radius: 5%;
}



