.MyConatainer{
    display: flex;
    padding-left: 170px; /* 사이드바 너비만큼 여백 추가 */
    
}
.MyConatainer > .Container{
    position: fixed;
    top: 50px; /* 헤더 높이에 따라 조절 */
    left: 0; /* 화면 왼쪽에 고정 */
    width: 15%;
    height: 100vh;
    min-width: 170px;
    z-index: 1000; /* 다른 요소들 위에 레이어링 */
}
.user-side{
    display: flex;
    align-items: center;
    flex-direction: column;
}


.user-box{
    height: 40px;
    width: 90%;
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 10px 16px 10px 24px;
    position: relative;
    box-sizing: border-box;
}
.box-current{
    background-color: #c2e7ff;
    border-radius: 0 50px 50px 0;
    font-weight: bold;
}
.user-box > span:hover{
    cursor: pointer;
}

.user-side > div > img{
    display: none;
}

@media (max-width: 768px) {
    .user-side>div>span{
        display: none;
    }
    .user-side > div > img{
        display:block;
        width: 20px;
        height: 20px;
        cursor: pointer;
       
    }
    .user-box{
        padding: 10px 16px 10px 15px;
    }
   
    .MyConatainer > .Container{
        min-width: 50px;
    }
   

}