

.UserInfo {
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.UserInfo-elementbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%; /* 가로 크기 설정 */
    
    margin-top: 10px;
}
.UserInfo-elementbox > form{
    border-top: 1px solid gray;
}


/* 버튼 css */

.userInfo-btn{
    display: flex;
    justify-content: center;
}
.userInfo-btn >button{
    width: 30%;
    
}

@media (max-width: 768px) {
    .UserInfo{

    }
    .UserInfo-elementbox {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
 
    }
    .userInfo-btn >button{
        width: 130px;
        
    }
    
}