.UserInfo {
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.UserInfo>h1 {
    text-align: center;
}

.UserInfo-elementbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 600px; /* 가로 크기 설정 */

}


/* 버튼 css */

.userInfo-btn{
    display: flex;
    justify-content: center;
}
.userInfo-btn >button{
    width: 150px;
    
}
